appdirs==1.4.4
attrs==20.2.0
autotiling==1.2
btrfsutil==1.2.0
CacheControl==0.12.6
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0.post1
cssselect2==0.3.0
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
html5lib==1.1
i3ipc==2.2.1
idna==2.10
Jinja2==2.11.2
lensfun==0.3.95
MarkupSafe==1.1.1
msgpack==1.0.0
ordered-set==4.0.2
packaging==20.4
pep517==0.8.2
Pillow==7.2.0
ply==3.11
progress==1.5
psutil==5.7.2
pwquality==1.4.2
pycairo==1.19.1
pycparser==2.20
Pygments==2.6.1
PyGObject==3.36.1
pyparsing==2.4.7
pyPEG2==2.15.2
pyperclip==1.7.0
PyQt5==5.15.0
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.0
python-xlib==0.27
pyudev==0.22.0.dev20200622
pywal==3.3.0
PyYAML==5.3.1
qtile==0.16.1
qutebrowser==1.13.1
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
six==1.15.0
svgwrite==1.3.1
team==1.0
tinycss2==1.0.2
toml==0.10.1
urllib3==1.25.10
webencodings==0.5.1
wmctrl-python3==0.3
xcffib==0.10.1
